<div class="main">
    <div class="row" ng-repeat="task in taskData | filter: {dueBy: filterProp } : true | orderBy: '-'">
        <div class="side">
            <i class="fa fa-times" id="gray" ng-show="deleteOptions" ng-click="deleteTask(task._id)"></i>
            <i class="fa fa-square-o" ng-click="completed(task._id, task.status, this)" ng-if="task.status !== 'completed'"></i>
            <i class="fa fa-check" ng-click="completed(task._id, task.status, this)" ng-if="task.status !== 'not-completed'"></i>
        </div>
        <div class="row-item">
            <h5>{{task.name}}</h5>
            <h6 id="green"><span>Posted {{task.createdAt_nonRead | amCalendar}}</span></h6>
            <h6 ng-if="task.dueBy === 'Day' && task.status !== 'completed'"><span>Due in {{ task.dueDate | amDifference : null : 'hours' }} hour(s)</span></h6>
            <h6 ng-if="task.dueBy == 'Week' && task.status !== 'completed'"><span>Due in {{ task.dueDate | amDifference : null : 'days' }} day(s)</span></h6>
            <h6 ng-if="task.dueBy == 'Month' && task.status !== 'completed'"><span>Due in {{ task.dueDate | amDifference : null : 'days' }} day(s)</span></h6>
            <h6 ng-if="task.status === 'completed'" id="green">Completed</h6>
        </div>
    </div>
</div>