* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h4 {
    font-size: 14px;
    font-weight: 100;
    color: #333;
}

.task-input {
    width: 420px;
    margin: 50px auto 0px;
    padding-left: 9px;
    text-align: center;
    border: 1px solid #00AB6B;
    border-radius: 30px;
}

/* Typing Animation */
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

h3 { 
    font-family: 'Monaco', monospace;
    font-weight: 100;
    font-size: 22px;
    color: #ccc;
	border-right: .1em solid;
	width: 16em; /* fallback */
	width: 29ch; /* # of chars */
	margin: 10px 8px;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(29, end), /* # of steps = # of chars */
	           blink-caret .5s step-end infinite alternate;
}

input {
    font-family: 'Monaco', monospace;
    font-weight: 100;
    font-size: 22px;
    color: #333;
    border: none;
	margin: 10px 8px;
    width: 95%;
}

input:focus, textarea:focus {
    outline: none;
}

::-webkit-input-placeholder {
   color: #ddd;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ddd;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;
}

:-ms-input-placeholder {  
   color: #ddd;
}

.section {
    width: 100%;
    height: 170px;
    /*border: 1px solid purple;*/
    text-align: center;
    vertical-align: top;
}

.btn {
    height: 30px;
    width: 110px;
    line-height: 28px;
    padding-left: 0px;
    margin: 15px auto;
    cursor: pointer;
}

.main { 
    border: 1px solid blue;
    width: 500px;
    margin: 0 auto;
}

.side {
    width: 100px;
    height: 100%;
    min-height: 50px;
    border: 1px solid red;
    margin: 0 auto;
    float: left;
}

.content {
    height: auto;
}

.row {
    text-align: center;
    width: 100%;
    min-height: 50px;
    overflow: auto;
    /*margin-bottom: 10px;*/
    border: 1px solid orange;
}

.row-item {
    border: 1px solid darkolivegreen;
    width: 395px;
    min-height: 50px;
    float: right;
}

button {
    display: inline-block;
}


