* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    border: 1px solid #fff;
    background: url('assets/tree-compressor.png') no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.left {
    float: left;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.title-container {
    width: 100%;
    height: 50px;
    /*border: 1px solid purple;*/
    margin-top: 30px;
}

    .title-container h2 {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 47px;
        margin-left: 50px;
        font-weight: 100;
        float: left;
    }

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h4 {
    font-size: 14px;
    font-weight: 100;
    color: #333;
}

h5 {
    font-size: 18px;
    font-weight: 100;
    color: #333;
}

h6 {
    font-size: 11px;
    font-weight: 100;
    color: #333;
    padding-top: 4px;
}

/* LOGIN PAGE */

.login-wrap {
    width: 300px;
    height: 215px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
     border: 1px solid blue; 
    vertical-align: middle;
}

.top-container {
    width: 100%;
    height: 30px;
    /*border: 1px solid dodgerblue;*/
    text-align: center;
}

.login-btn {
    width: 100px;
    height: 100%;
    float: left;
    border: 1px solid #00AB6B;
    border-radius: 15px; 
    margin-left: 50px;
    margin-right: 10px;
    background: #fff;
}

    .login-btn h5 {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        line-height: 27px;
        color: #333;
        letter-spacing: 0.5px;
    }
    
    /* ************ */
    
.sign-out-btn {
    width: 52px;
    height: 20px;
    margin-top: 4px;
}
.sign-out-btn:hover {
    -webkit-box-shadow: inset 0px 0px 1.5px 0px #00AB6B;
    -moz-box-shadow: inset 0px 0px 1.5px 0px #00AB6B;
    box-shadow: inset 0px 0px 1.5px 0px #00AB6B;
}

    .sign-out-btn h6 {
        font-size: 8px;
        font-weight: 400;
        text-align: center;
        line-height: 10px;
        color: #333;
    }
    
.id-container {
    height: 100%;
    margin-right: 50px;
    float: right;
    /*border: 1px solid deeppink;*/
}

.options {
    display: inline-block;
    width: 33%;
    height: 100%;
    vertical-align: top;
    /*border: 1px solid palevioletred;*/
}

.center {
    text-align: center;
}

    .options .fa-bars{
        color: #00AB6B;
        vertical-align: top;
        margin: 7px 14px 0 0;
        cursor: pointer;
    }

.social {
    display: inline-block;
    height: 100%;
    margin: 0 10px 0 5px;
    vertical-align: top;
    float: left;
    /*border: 1px solid deepskyblue;*/
}

    .social .fa {
        line-height: 53px;
        color: #333;
    }
    
    .fa-square-o {
        padding-left: 4px;
    }
    
    .social h5 {
        line-height: 53px;
        font-size: 12px;
        color: #333;
    }
    
#greeting {
    line-height: 29px;
}

.task-input {
    width: 240px;
    margin: 0 auto;
    padding-left: 2px;
    text-align: center;
    border: 1px solid #00AB6B;
    border-radius: 30px;
    height: 100%;
    display: inline-block;
    background: #fff;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: #333;
    border: none;
    border-radius: 30px;
    margin: 4px 8px;
    width: 95%;
    background: #fff;
}

input:focus, textarea:focus {
    outline: none;
}

::-webkit-input-placeholder {
   color: #ddd;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ddd;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;
}

:-ms-input-placeholder {  
   color: #ddd;
}
   /* ************************** */ 

.sml-btn-container {
    /*border: 1px solid orange; */
    height: 100%;
    width: 317px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: left;
}

    .sml-btn-container .sub {
        /*border: 1px solid rebeccapurple;*/
        height: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin-left: 4px;
    }

    .sml-btn-container .fa {
        margin: 7px 0px 0 0px;
        cursor: pointer;
        font-size: 16px;
        color: #00AB6B;
    }
    
    .sml-btn-container .fa-square-o {
        padding-left: 0px;
    }
    
    .sml-btn-container h6 {
        display: inline-block;
        font-size: 11px;
        font-weight: 100;
        cursor: default;
        vertical-align: top;
        padding-top: 7px;
    }

.section {
    width: 100%;
    height: 120px;
    /*border: 1px solid gold;*/
    text-align: center;
    margin-top: -30px;
}

.btn {
    height: 30px;
    width: 110px;
    line-height: 28px;
    padding-left: 0px;
    margin: 15px auto;
    cursor: pointer;
}

.btn:hover {
    -webkit-box-shadow: inset 0px 0px 2.5px 0px #00AB6B;
    -moz-box-shadow: inset 0px 0px 2.5px 0px #00AB6B;
    box-shadow: inset 0px 0px 2.5px 0px #00AB6B;
}

.main { 
    /*border: 1px solid blue;*/
    width: 470px;
    margin: 0px auto;
}

.side {
    height: 100%;
    width: 120px;
    /*border: 1px solid red;*/
    margin-top: 16px;
    float: left;
    text-align: right;
}

    .side .fa {
        color: #333;
        margin: 0 10px 0 0px;
        cursor: pointer;
    }
    
    .side #gray {
        color: #C0C3C9;
    }
    
    #gray:hover {
        color: #ED6464;
    }

.content {
    /*height: auto;*/
    margin: 0;
}

.no-margin {
    margin: 0;
}

.row {
    text-align: center;
    width: 100%;
    min-height: 80px;
    height: auto;
    /*border: 1px solid orange;*/
    cursor: default;
}

.row-item {
    /*border: 1px solid darkolivegreen;*/
    width: 340px;
    height: 100%;
    float: right;
    padding: 10px 5px 10px 5px;
    text-align: left;
}

    .row-item h6 {
        font-size: 11px;
        font-weight: 100;
        color: #00AB6B;
        padding-top: 2px;
    }

.sml-btn {
    border: 1px solid #00AB6B;
    border-radius: 10px;
    width: 52px;
    height: 20px;
    margin-left: 12px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    background: #fff;
}

    .sml-btn h6 {
        font-size: 9px;
        font-weight: 400;
        text-align: center;
        color: #333;
        line-height: 11px;
    }

.sml-btn:hover {
    -webkit-box-shadow: inset 0px 0px 1.5px 0px #00AB6B;
    -moz-box-shadow: inset 0px 0px 1.5px 0px #00AB6B;
    box-shadow: inset 0px 0px 1.5px 0px #00AB6B;
}

/* FOLDER TOGGLES */

.folders-title {
    text-align: center;
    padding-top: 0px;
    padding-right: 35px;
    width: 370px;
    cursor: default;
}

    .folders-title .del-options {
        /*border: 1px solid red;*/
        display: inline-block;
        margin: 0px 10px 0px 12px;
    }
    
        #del-options-tog {
            font-size: 14px;
            margin-top: 6px;
            margin-right: 26px;
            color: #A0A0A0;
        }

    .folders-title .fa {
        color: #555;
        font-size: 25px;
        margin: 0px;
    }

    .folders-title .sub {
        width: 36px;
        /*margin-top: 5px;*/
    }
    
    .folders-title .sub h5 {
        font-size: 14px;
        padding-right: 20px;
        padding-top: 2px;
        cursor: pointer;
    }







/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/
/*general styles for all CSS Checkboxes*/
label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding: 0px 0px 0px 16px;
    display: inline-block;
    background-repeat: no-repeat;
    /*border: 1px solid red;*/
    background-position: 0 0;
    font-size: 11px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    vertical-align: top;
    margin-top: 6px;
    cursor: pointer;
    color: #00AB6B;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -18px;
}

label.css-label {
    background-image:url('assets/check-use.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}