* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.task-input {
    width: 420px;
    margin: 50px auto 0px;
    padding-left: 9px;
    text-align: center;
    border: 1px solid #00AB6B;
    border-radius: 30px;
}

/* Typing Animation */
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

h3 { 
    font-family: 'Monaco', monospace;
    font-weight: 100;
    font-size: 22px;
    color: #ccc;
	border-right: .1em solid;
	width: 16em; /* fallback */
	width: 29ch; /* # of chars */
	margin: 10px 8px;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(29, end), /* # of steps = # of chars */
	           blink-caret .5s step-end infinite alternate;
}

input {
    font-family: 'Monaco', monospace;
    font-weight: 100;
    font-size: 22px;
    color: #333;
    border: none;
	margin: 10px 8px;
    width: 95%;
}

input:focus, textarea:focus {
    outline: none;
}

::-webkit-input-placeholder {
   color: #ddd;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ddd;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;
}

:-ms-input-placeholder {  
   color: #ddd;
}


