<div class="top-container">
    <a href="/auth/logout">
        <div class="login-btn">
            <h5>Sign Out</h5>
        </div>
    </a>
    <div class="social">
        <h5>Hi, {{name}}</h5>
    </div>


    <div class="id-container">
        <div class="social">
            <a href="http://blakehagen.github.io" target="_blank"><h5>A Blake Hagen Production</h5></a>
        </div>
        <div class="social">
            <a href="http://github.com/blakehagen" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <div class="social">
            <a href="http://linkedin.com/in/blakehagen" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="social">
            <a href="http://twitter.com/blakehagen" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>


<div class="section">
    <div class="task-input" ng-click="inputToggle()" ng-show="taskAnimateBox">
        <h3>What do you need to get done?</h3>
    </div>
    <!-- Actual Input Box when box above is clicked -->
    <div class="task-input" ng-show="inputBox">
        <input ng-keyup="$event.keyCode == 13 && postNew()" placeholder="What do you need to get done?" type="text" ng-model="newTask"
        autofocus>
        </input>
    </div>
    <div class="task-input btn" ng-show="inputBox" ng-click="postNew()">
        <h4>Submit</h4>
    </div>
</div>

<new-tasks-directive></new-tasks-directive>