<div class="top-container">
    <div class="options left">
        <a href="/auth/logout">
            <div class="login-btn sign-out-btn">
                <h6>Sign Out</h6>
            </div>
        </a>
        <div class="social">
            <h5 id="greeting">Hi, {{name}}</h5>
        </div>
    </div>
    <div class="options center">
        <i class="fa fa-bars" ng-click="showDeleteOptions()"></i>
        <div class="task-input" ng-click="inputToggle()" ng-show="taskAnimateBox">
        </div>
        <div class="task-input">
            <input ng-keyup="$event.keyCode == 13 && postNew()" placeholder="Add a task ..." type="text" ng-model="newTask" autofocus>
            </input>
        </div>
    </div>
    <div class="options">
    </div>
</div>

<div class="top-container">
    <div class="sml-btn-container" ng-show="deleteOptions">
        <i class="fa fa-trash-o" ng-click="deleteAllCompleted()"></i>
        <h6 ng-click="deleteAllCompleted()">Delete All Completed Tasks</h6>
    </div>
</div>

<new-tasks-directive></new-tasks-directive>